*{
    background-color: #3a3232;
}

::placeholder { 
    color: #0BF8B6;
    opacity: 1; 
  }

a {
    background-color: whitesmoke;
    text-decoration: none;
    color: black; 
}

img {
    border-radius: 15px;
    width: 550px;
    height: 350px;
}

h1 {
    color: yellowgreen;
    font-size: 55px;
    font-family: 'Indie Flower', cursive;
}

h3 {
    font-size: 25px;
    font-family: 'Geo', sans-serif;
    font-weight: bold;
    color: yellowgreen;
}

input {
    color: #0BF8B6;
    border: 3px solid black;
    border-radius: 8px;
    padding: 8px;
    margin-right: 14px;
}

button {
    color: black;
    border-radius: 6px;
    background-color: whitesmoke;
    cursor: pointer;
}

.message {
    margin: auto;
    width: 350px;
    font-size: 18px;
    font-family: 'Acme', sans-serif;
    color: whitesmoke
}

.spacer {
    height: 120px;
}


